server {
    listen 80;

    root /var/www/static;

    location  /list {
        autoindex on;
        autoindex_format json;
        alias /var/www/static/$http_app_version/$http_form;
    }

    location /media {
        autoindex on;
        autoindex_format json;
        alias /var/www/static/$http_app_version/$http_form/$http_topic/;
    }

    location / {
        add_header Content-Disposition 'inline';
        default_type application/pdf;
    }
}

